# Dependency directories 
**/node_modules/
node_modules/

# Environment Variables & Encryption Keys (Secrets)
**/ .env
.env

# Local logs and temp assets
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.DS_Store
.DS_Store

# Temporary local video storage 
backend/uploads/*
!backend/uploads/.gitkeep